<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tick.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Home.RepairActivity"></activity>
        <activity android:name=".Home.PostActivity"/>
        <activity android:name=".Home.EducationActivity"/>
        <activity android:name=".Home.HouseKeepingActivity"/>
        <activity android:name=".Home.OldManHomeActivity"/>
        <activity android:name=".Home.SchoolActivity"/>
        <activity android:name=".Home.WarningActivity"/>
        <activity android:name=".Propery.PaymentActivity"/>
        <activity android:name=".Propery.RecordActivity"/>
        <activity android:name=".Propery.BookseeActivity"/>
        <activity android:name=".Propery.SuggestActivity"/>
    </application>

</manifest>